
@tailwind base;
@tailwind components;
@tailwind utilities;


@media print {
  body * {
    visibility: hidden;
  }

  /* Ticket එක හෝ Report එක පෙනෙන්න හදන්න */
  #printable-ticket, #printable-ticket *,
  #printable-report, #printable-report * {
    visibility: visible;
  }

  /* දෙකම එකවර screen එකේ තිබුනොත් (ඒක වෙන්නේ නෑ), position හදන්න */
  #printable-ticket, #printable-report {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .no-print {
    display: none !important;
  }
}